@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

@font-face {
	font-family: Rubl;
	src: url("/fonts/rouble.ttf");
}

form {
	display: none;
}


form input, form button, form p {
	padding: 0;
	margin: 10px 0 0 0;
}