@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

div.contactTypes {
	margin: 30px 0 0 40px;
	width: 690px;
	float: left;
}

div.type {
	float: left;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 300px;
	height: 170px;
	border: 1px solid #d2dfec;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 0 40px 30px 0;
}

div.type h3, div.type h4 {
	width: 100%;
	text-align: center;
	margin: 10px 0 5px 0;
}

div.type h3 {
	height: 20px;
	font: 18pt 'Segoe UI Light';
	font-weight: bold;
}

div.type h4.toph4, div.type h4.bottomh4 {
	position: relative;
	top: -15px;
	height: 10px;
	font: 14pt 'Segoe UI Light';
}

div.type h4.toph4 {
	font: 12pt 'Segoe UI Light';
	font-weight: normal;
	color: #aaa;
}

div.type h4.bottomh4 {
	font-weight: bold;
}

div.type h4.toph4 {
	top: -10px;
}

div.type div.postbuttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
}

div.type img.postbutton {
	cursor: pointer;
	border-radius: 7px;
	height: 50px;
	opacity: 1;
}

div.type div.postnames {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
}

div.type div.postnames p {
	position: relative;
	top: -5px;
	margin: 0;
	min-width: 30%; font : 10pt 'Segoe UI Light'; font-weight : bold;
	text-align: center;
	font-weight: bold;
	font: 10pt 'Segoe UI Light';
	color: #aaa;
}

div.type img.likebutton {
	border-radius: 7px;
	width: 50px;
	height: 50px;
	opacity: 1;
}

div.type img.postbutton:HOVER {
	opacity: 0.8;
}

div.type img.postbutton:ACTIVE {
	opacity: 0.6;
}

div.advice {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #d2dfec;
	float: left;
	margin: 30px 0 0 0;
	width: calc(100% - 732px - 40px);
	height: 372px;
	display: flex;
	flex-wrap: wrap;
	background: red;
}

div.advice div.adviceTop {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width : 100%;
	height: 40px;
	width: 100%;
}

div.advice h3 {
	font: 16pt 'Segoe UI Light';
	margin: 0 0 0 20px;
}

div.advice h4 {
	font: 12pt 'Segoe UI Light';
	color: #aaa;
	text-align: center;
	margin: 20px 40px;
}

div.advice div.newMessField {
	flex: 0.975;
	font: 12pt 'Segoe UI Light';
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
	min-height: 55px;
	width: 100%;
	outline: none;
	resize: none;
	padding: 5px 9px 0px;
	margin: 0;
	word-wrap: break-word;
	border-top: 1px solid #d2dfec;
	align-self: flex-end;
	cursor: text;
}

div.advice div.newMessFieldEMPTY:AFTER {
	content: 'Наберите сообщение...';
	color: #aaa;
}

div.advice img.send {
	height: 40px;
	align-self: flex-end;
	cursor: pointer;
	margin: 0 0 10px 10px;
}

div.advice img.send:HOVER {
	content: url("/images/gra_r.png");
}