@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

div.back {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

div.main {
	box-shadow: 0 0 3px 3px rgba(180,180,180,1);
	border-radius: 10px;
	border: 1px solid #b4b4b4;
	position: absolute;
	background-color: white;
}

div.main img.close {
	margin: 10px;
	position: absolute;
	right: 0;
}

div.main img.close:HOVER {
	cursor: pointer;
}

h1.user {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 15px;
	font: 24pt 'Segoe UI Light', sans-serif;
	text-align: center;
}

div.user {
	display: inline-block;
	width: 100%;
}

div.user ul {
	overflow: hidden;
	margin: 0;
	padding: 0 0 5px 20px;
}

div.user ul li {
	white-space: pre;
	display: inline-table;
}

div.user ul li.prompt {
	position: relative;
	height: 40px;
	float: left;
	text-align: right;
}

div.user ul li.input {
	width: 250px;
	float: left;
	padding-right: 10px;
}

div.user ul li.input input {
	width: 100%;
	height: 24pt;
	border: solid 1px #ebf0f5;
	color: #444444;
	font: 13pt 'Segoe UI Light';
	border-radius: 2px 2px 2px 2px;
	outline: none;
	padding-left: 5px;
	transition: box-shadow 0.3s, border 0.3s;
}

div.user ul li.input input:FOCUS {
	border: 1px solid #5582aa;
	color: black;
}

div.user ul li.prompt p {
	position: relative;
	display: inline;
	font: 17pt 'Segoe UI Light';
}

div.user input.submit {
	position: absolute;
	background: rgba(85, 130, 170, 0.7);
	color: white;
	width: 150px;
	height: 40px;
	font: 16pt 'Segoe UI Light';
	outline: none;
	border: 0;
	cursor: pointer;
	box-shadow: inset 0 0 1px 1px white;
	padding-bottom: 4px;
	right: 40px;
	bottom: 20px;
}

div.user input.submit[disabled] {
	background: #ebf0f5;
	background: rgba(130, 130, 130, 0.4);
	cursor: auto;
}

div.user input.submit:ACTIVE {
	background-color: #e4e7f1;
}

span.error {
	position: absolute;
	top: 160px;
	font: 10pt 'Segoe UI Light';
	text-align: center;
	width: 250px;
	color: red;
	height: 0;
}