@CHARSET "UTF-8";


div.catlist {
	margin: 0 20px 20px 0;
	padding: 5px 20px 50px 10px;
	border-right: 1px solid #ebf0f5;
	border-top: 1px solid #ebf0f5;
	background: linear-gradient(to bottom, #f8fafc, #fff);
	background: #f8fafc;
	width: 240px;
}

div.catlist div.switchtype {
	width: 100%;
	margin: 2px 100px 5px 0;
	font: 10pt 'Segoe UI Light';
	overflow: hidden;
}

div.catlist div.switchtype span {
	float: left;
	padding: 0 5px;
	color: #aaa;
	cursor: pointer;
}

div.catlist div.switchtype span:HOVER {
	color: #304961;
}

div.catlist div.switchtype span.here {
	color: #f4b126;
	cursor: default;
}

div.catlist div.switchtype span.here:HOVER {
	color: #f4b126;
}

div.catlist div.switchtype span:FIRST-CHILD {
	border-right: 1px solid #aaa;
}

div.catlist img.piccat {
	opacity: 0.7;
	position: relative;
	float: left;
	width: 23px;
	height: 23px;
	margin: 0 8px 0 -2px;
}

div.catlist h3, div.catlist h4 {
	margin: 5px 0;
	padding: 0;
}

div.catlist div.oneName {
	margin-top: 3px;
}

div.catlist a {
	text-decoration: none;
}

div.catlist a:HOVER {
	color: #304961;
}

div.catlist a.here {
	color: #f4b126;
}

div.catlist h2 {
	font: 14pt 'Segoe UI Light';
	width: 100%;
	border-top: 1px solid #ebf0f5;
	margin-top: 20px;
	padding-top: 10px;
}

div.catlist h3 {
	font: 12pt 'Segoe UI Light';
}

div.catlist h3 a {
	color: #5582aa;
}

div.catlist ul {
	margin: 0;
}

div.catlist ul li {
	display: block;
}

div.catlist h4 a {
	color: #aaa;
	font: 9pt 'Segoe UI Light';
}

div.catlist div.priceEnterDiv {
	font: 12pt 'Segoe UI Light';
	display: inline-block;
	color: #aaa;
}

div.catlist div.priceField {
	display: inline;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 20px;
	min-width: 50px;
	max-width: 100px;
	outline: none;
	resize: none;
	padding: 5px 9px 0px;
	margin: 0;
	word-wrap: break-word;
	border: 1px solid #ebf0f5;
	cursor: text;
}

div.catlist div.priceFieldEMPTY1:AFTER {
	content: '590';
	color: #aaa;
}

div.catlist div.priceFieldEMPTY2:AFTER {
	content: '15 920';
	color: #aaa;
}

div.catlist div.chooseCompany {
	font: 12pt 'Segoe UI Light';
	display: inline-block;
	color: #aaa;
}