@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

@font-face {
	font-family: Rubl;
	src: url("/fonts/rouble.ttf");
}

div.bottomstuff {
	padding: 0 0 0 0;
	clear: both;
}

div.infoList {	
	font-family: 'Segoe UI Light';
}

div.infoList h3 {
	font: 20pt 'Segoe UI Light';
	margin: 10px 0 0 25px;
}

div.infoList div.descinfo {
	font-size: 12pt;
	margin: 15px 10px 10px 10px;
}

div.infoList div.descinfo span.header {
	font-size: 14pt;
}

div.infoList div.descinfo p {
	margin: 15px 0 0 0;
}

div.infoList div.descinfo span.header {
	margin-left: 20px;
}

div.del-main div.del-info h2 {
	font-size: 14pt !important;
	font-weight: bold !important;
}

div.chars div.lchar {
	float: left;
	margin-left: 5%;
	width: 40%;
}

div.chars div.rchar {
	float: right;
	margin-right: 5%;
	width: 40%;
}

div.chars div.charpart {
	margin: 20px 0;
}

div.chars h3 {
	color: #aaa;
	font: 14pt 'Segoe UI Light';
	margin: 5px 0 0 10px;
}

div.chars div.qna {
	margin: 3px 0 0 10px;
	border-bottom: 1px dotted #aaa;
	white-space: nowrap;
}

div.chars div.qna div, div.chars div.qna div h4 {
	font: 12pt 'Segoe UI Light';
	display: inline-block;
	margin: 0;
}

div.chars div.qna div {
	position: relative;
	top: 5px;
}

div.chars div.qna div h4 {
	background: white;
	padding-right: 3px;
}

div.chars div.qst {
	width: 220px;
}

div.chars div.ans {
	padding-left: 3px;
	background: white;
	width: calc(100% - 226px);
}

div.comments div.addcomment {
	width: 100%;
	height: 40px;
}

div.comments div.addcomment button {
	float: right;
	margin: 0 10px 10px 0;
	width: 160px;
	height: 29px;
	border-radius: 0px;
	background: white;
	color: #444;
	font: 16px 'Segoe UI Light';
	border: none;
	padding-bottom: 10px;
	border: 1px solid #f4b126;
	outline: none;
}

div.comments div.addcomment button:HOVER {
	cursor: pointer;
	background: #fdf3df;
}

div.comments div.addcomment button:ACTIVE {
	background: #fcedcd;
}

div.comments div.comment {
	width: 100%;
	border-bottom: 1px solid #ebf0f5;
	overflow: hidden;
	margin-top: 10px;
}

div.comments div.comment div.comname {
	width: 200px;
	float: left;
}

div.comments div.comment div.comname h3 {
	font: 14pt 'Segoe UI Light';
	margin: 10px 0 0 5px;
}

div.comments div.comment div.comname div.rating {
	margin: 10px 0 0 4px;
}

div.comments div.comment div.comname div.rating img{
	height: 14px;
}

div.comments div.comment div.comname h4 {
	margin: 10px 0 0 5px;
	color: #aaa;
	font: 10pt 'Segoe UI Light';
}

div.comments div.comment div.combody {
	margin-top: 10px;
	float: left;
	width: calc(100% - 210px);
}

div.comments div.comment div.combody h3 {
	font: 10pt 'Segoe UI Light';
	margin: 0;
}

div.comments div.comment div.combody h4 {
	margin: 0 0 5px 0;
	color: #aaa;
	font: 10pt 'Segoe UI Light';
}