RewriteEngine On
RewriteBase /

RewriteCond %{QUERY_STRING} (.*)
RewriteRule ^(about|chuvashia|contacts|join|news|partners|team)$ /?page=$1&%1

ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

AddDefaultCharset utf8

php_flag display_errors Off