@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

@font-face {
	font-family: Rubl;
	src: url("/fonts/rouble.ttf");
}

div.maincat {
	width: 100%;
	display: flex;
}

div.stuffList {
	flex: 1;
}

div.stuff {
	display: flex;
	margin: 0 0 -1px 0;
	border-top: 1px solid #ebf0f5;
	border-bottom: 1px solid #ebf0f5;
	width: 100%;
	padding: 10px 0;
}

div.stuff button.color {
	padding: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #eee;
}

div.stuff div.photodiv {
	display: flex;
	align-self: center;
	width: 180px;
	height: 180px;
}

div.stuff img.photo {
	align-self: center;
	margin: auto;
	max-width: 180px;
	max-height: 180px;
}

div.stuff div.info {
	flex: 1;
	margin: 0 20px 0 0;
}

div.stuff div.info h2 {
	width: 100%;
	margin: 0;
	padding: 0 0 0 19px;
	font: 16pt 'Segoe UI Light';
	color: black;
}

div.stuff div.info div.rating {
	padding: 0 0 0 19px;
	display: inline;
	position: relative;
	top: 4px;
}

div.stuff div.info div.rating img {
	height: 12pt;
}

div.stuff div.info ul {
	margin: 10px 0 10px 0;
	padding-left: 20px;
	clear: both;
	font: 12pt 'Segoe UI Light';
}

div.stuff div.info ul li {
	display: block;
	color: #999;
}

div.stuff div.info ul li:BEFORE {
	content: "\2022\205f\205f";
}