div#join {
    max-width: 500px;
}

div#join div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 5px;
}

div#join div img.f5 {
    width: 20px;
    margin: 0 0 0 10px;
    display: none;
    opacity: 0;
}

div#join div img.f5active {
    display: block;
    opacity: 0.5;
    cursor: pointer;
}

div#join div.left span{
    position: inherit;
}

div#join form span{
    position: absolute;
    background: white;
    padding: 0 5px;
    font-size: 10pt;
    color: #aaaaaa;
}

div#join form input, div#join form select{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #aaaaaa;
    outline: none;
    padding: 5px;
}

div#join form input:focus, div#join form select:focus{
    border-color: black;
}

div#join form .ok{
    border-color: darkgreen;
    color: darkgreen;
    background: lightgreen;
}