@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

h1.hcat {
	position: relative;
	top: -30px;
	margin: 0 0 -30px 40px;
	font: 28pt 'Segoe UI Light';
}

div.cats {
	position: relative;
	overflow: hidden;
}

div.onecat {
	width: 300px;
	height: 130px;
	float: left;
}

div.onecat h2 {
	font: 14pt 'Segoe UI Light', sans-serif;
	display: inline-block;
	margin: 0;
}

div.onecat img {
	position: relative;
	top: 10px;
}

div.onecat h3 {
	font: 10pt 'Segoe UI Light', sans-serif;
	margin: 0;
}

div.onecat h3.notLast:AFTER {
	content: "\2022\205f";
}

div.onecat h2 a {
	color: #4f789d;
	text-decoration: none;
	font-weight: normal;
}

div.onecat h2 a:hover {
	color: #304961;
}

div.onecat h3 a {
	color: #666;
	text-decoration: none;
}

div.onecat h3 a:hover {
	color: black;
	text-decoration: underline;
	text-decoration: none;
}

div.onecat ul {
	padding: 5px;
	margin: 0;
}

div.onecat li {
	display: inline-block;
}