@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

div.about {
	margin: 0;
	font: 14pt 'Segoe UI Light';
	padding: 20px 40px;
}

div.about a {
	color: #5582aa;
	text-decoration: none;
}

div.about a:HOVER {
	color: #304961;
	text-decoration: underline;
}

div.about a:ACTIVE {
	color: #000;
}

div.about img {
	opacity: 0.7;
}