@CHARSET "UTF-8";

div.user ul {
	display: none;
}

#id0, #submit {
	display: inherit;
}

div.user ul li.okno {
	position: relative;
	top: 5px;
	float: left;
	magrin: 0;
	padding-right: 0px;
}

div.user ul li.okno img {
	visibility: hidden;
}

div.main {
	top: calc(50% - 410px/2);
	left: calc(50% - 534px/2);
	height: 410px;
	width: 534px;
}

div.user ul li.prompt {
	width: 200px;
	margin-right: 20px;
}