@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

@font-face {
	font-family: PFStampsPro Flex;
	src: url("/fonts/name.ttf");
}

@CHARSET "UTF-8";

body {
	max-width: 1100px;
	margin: auto;
	min-height: 100%;
	border-left: 1px solid #ebf0f5;
	border-right: 1px solid #ebf0f5;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

div.firstMenu, div.secondMenu {
	position: relative;
	min-width: 100%;
	border-bottom: 1px solid #ebf0f5;
	display: inline-block;
	z-index: 1;
}

div.secondMenu {
	border-top: 1px solid #ebf0f5;
}

ul.firstMenu, ul.secondMenu {
	margin: 0;
	padding: 0 0 1px 0;
	background-color: #f8fafc;
	text-align: right;
	white-space: nowrap;
	min-width: 100%;
}

ul.firstMenu li, ul.secondMenu li {
	padding: 0px 10px 0px 30px;
	display: inline;
}

ul.firstMenu li a, ul.secondMenu li a {
	color: #5582aa;
	text-decoration: none;
	font: 10pt 'Segoe UI Light';
}

ul.firstMenu li a:hover, ul.secondMenu li a:hover {
	color: #304961;
}

ul.firstMenu li a.here, ul.secondMenu li a.here {
	color: #f4b126;
}

div.logoname {
	position: relative;
	display: inline-block;
}

div.logo, div.siteName {
	margin-left: 40px;
	float: left;
	height: 95px;
}

h1.siteName, h2.siteName {
	position: relative;
	margin: 0;
	white-space: nowrap;
	top: -10px;
}

h1.siteName {
	height: 60px;
	font: 40pt 'Segoe UI Light', sans-serif;
}

h2.siteName {
	padding-left: 2px;
	font: 22pt 'Segoe UI Light', sans-serif;
}

ul.secondMenu {
	text-align: left;
}

ul.secondMenu li {
	padding: 0px 0px 0px 40px;
}

h1.h {
	margin: 0 0 -15px 40px;
	font: 30pt 'Segoe UI Light';
}

.button:ACTIVE {
	position: relative;
	top: -1px;
}