@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("../fonts/segoeuil.ttf");
}

h1.hadm {
	margin: 0;
	font: 60px 'Segoe UI Light';
	text-align: center;
}

p.padm {
	margin: 0 0 30px 40px;
	font: 20px 'Segoe UI Light';
}

div.dadms {
	padding: 0 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

h2.hadm {
	margin: 10px 0 0 0;
	font: 20pt 'Segoe UI Light';
}

a.adm {
	margin: 0;
	font: 11pt 'Segoe UI Light';
	color: #5582aa;
	text-decoration: none;
}

a.adm:HOVER {
	color: #f4b126;
}

a.nowrk {
	color: rgba(255, 0, 0, 0.5);
	text-decoration: line-through;
}

a.nowrk:HOVER {
	color: rgba(255, 0, 0, 0.8);
}