@CHARSET "UTF-8";

@font-face {
    font-family: Lato;
    src: url("/fonts/Lato-Medium.ttf");
}

* {
    font: 12pt 'Lato';
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 39pt;
}

div#page h1 {
    font-size: 30pt;
}

h2 {
    font-size: 30pt;
}

div#page h2 {
    font-size: 20pt;
}

h3 {
    font-size: 14pt;
}

a, a:visited {
    color: #6363bd;
}

ul.menu li {
    color: rgb(200, 0, 25);
    font-weight: bold;
    background: rgb(254, 247, 193);
}

ul.menu li:hover {
    cursor: pointer;
    background: rgb(254, 240, 120);
}

ul#ul-left li:active {
    padding-top: 11px !important;
    padding-bottom: 9px !important;
    background: rgb(254, 230, 60);
}

ul#ul-right li {
    background: white;
}

ul#ul-right li:hover {
    border-bottom: 3px solid rgba(200, 0, 25, 0.3);
}

ul#ul-right li:active, ul#ul-right li.here {
    border-bottom: 3px solid rgb(200, 0, 25);
}

ul#ul-left li#li-join {
    background: rgb(230, 100, 100);
    color: white;
}

ul#ul-left li#li-join:hover {
    background: rgb(220, 50, 50);
}

ul#ul-left li#li-join:active {
    background: rgb(200, 0, 25);
}

ul#ul-left li.here, ul#ul-left li.here#li-join {
    background: rgb(200, 0, 25);
    color: white;
}

ul#ul-left li {
    margin-bottom: 5px;
}

div.simple-decor, div.double-decor {
    width: 70px;
    height: 100%;
    background: url("/images/background.png");
    background-size: 100%;
}

div.double-decor {
    width: 140px;
    background-size: 50%;
}

div#over-top {
    margin: 0 5%;
    padding: 20px 10px 20px 190px;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

div#over-top h3 span {
    color: rgb(200, 0, 25);
    font-weight: bold;
    background: rgb(254, 230, 60);
    padding: 5px 10px;
    margin: 3px;
}

div#over-top a, div#over-top div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#over-top a img {
    height: 100%;
    margin: 0 10px 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div#over-top a#ask-a {
    margin-left: 25px;
    color: rgb(200, 0, 25);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#top, #main {
    padding: 0 5%;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 140px;
    white-space: nowrap;
    background: url("/images/design/top-back.jpg");
    background-size: 100%;
}

#top div {
    display: flex;
    align-items: center;
}

div#top div#top-name, div#main-right {
    margin-left: 50px;
}

div#top div#top-name {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(200, 0, 25);
}

div.switch-box img.switch {
    width: 10px;
    margin: 10px;
}

div#top div#top-switch-box {
    height: 100%;
}

div#top div#top-switch-box div.switch-div {
    max-width: 500px;
    height: 100%;
    align-self: flex-start;
    border-radius: 5px;
}

div#top div#top-switch-box div.switch-div img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

div#top div#top-switch-box div.switch-div span {
    position: relative;
    opacity: 0;
}

div#top div#top-switch-box div.switch-div span:HOVER {
    position: relative;
    opacity: 1;
    background: #ffffff;
}

div#main {
    display: flex;
}

div#main-left {
    width: 140px;
    align-self: stretch;
    padding: 0;
}

div#main-right {
    flex: 1;
}

div#bottom {
    margin-top: 20px;
    padding: 20px 5%;
    background: #dddddd;
}

ul#ul-left {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

ul#ul-left li {
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}

ul#ul-left li#li-main {
    background: white;
}

ul#ul-left li#li-main img{
    width: 100%;
}

ul#ul-left li img {
    width: 50%;
}

div#main-left div#left-end {
    height: 31px;
    background-image: url("/images/background90.png");
    background-size: 11.7%;
}

ul#ul-right {
    padding: 10px 0 0 0;
    margin-top: 0;
    display: flex;
}

ul#ul-right li {
    display: inline;
    text-align: center;
    padding: 0 0 3px 0;
    margin: 0 20px 0 0;
    border-bottom: 3px solid white;
}

ul#ul-right li img {
    height: 10pt;
    margin: 0 3px 0 0;
}


div#quote-index {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #dddddd;
}

div#quote-index div {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    font-size: 16pt;
    padding: 0 10px;
}

div#quote-index div p {
    width: 100%;
    text-align: right;
    font-size: 12pt;
    align-self: flex-end;
}

div#quote-index img {
    height: 130px;
    border-radius: 100%;
}


div#partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div#partners div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 27%;
    margin: 10px 0 50px 0;
}

div#partners div img {
    margin-bottom: 10px;
    max-width: 40%;
    max-height: 60%;
}

div#contacts {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div#contacts div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div#contacts div img {
    height: 80px;
    margin-bottom: 10px;
}

div#about h2 {
    margin-top: 10px;
}

div#about .center {
    text-align: center;
}

div#about ol li {
    list-style-type: none;
}

div#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

div#gallery div.gallery-section {
    width: 90%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border-top: 1px solid #aaaaaa;
    margin: 10px 0;
    padding-top: 20px;
    height: 400px;
}

div#gallery div.gallery-section:first-child {
    border-top: none;
}

div#gallery div.gallery-section div.switch-box div.switch-div {
    width: 30%;
}

div#gallery div.gallery-section div.switch-box div.switch-div h2{
    width: 100%;
    text-align: center;
}

div#gallery div.gallery-section div.switch-box div.switch-div img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}

div#gallery div.gallery-section div.switch-box div.switch-div {
    max-width: 500px;
    height: 100%;
    align-self: flex-start;
    border-radius: 5px;
}
