@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

div.del-info {
	float: left;
	margin: 20px 0 0 40px;
}

div.del-info h2 {
	font: 18pt 'Segoe UI Light';
	margin: 5px 0 0 0;
}

div.del-info div.rate {
	perspective: 600px;
	display: inline-block;
	margin: 15px 30px 0 0px;
}

div.content {
	transform-style: preserve-3d;
}

div.del-info div.rate h3 {
	font: 20pt 'Segoe UI Light';
	margin: 0 0 10px 0px;
}

div.del-info div.rate div.content1, div.del-info div.rate div.content2 {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	backface-visibility: hidden;
	width: 270px;
	height: 150px;
	border: 1px solid #dee8ef;
	background: #f8fafc;
}

div.del-info div.rate div.content1 {
	text-align: center;
	padding: 15px;
	transform-style: preserve-3d;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

div.del-info div.rate div.content1 h4 {
	text-align: center;
	font: 16pt 'Segoe UI Light';
	margin: 10px 0 0 0;
}

div.del-info div.rate div.content2 {
	position: absolute;
	top: 0;
	padding: 15px;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}

div.del-info div.rate div.content2 h3 {
	text-align: center;
}

div.del-info div.rate div.content2 p {
	margin: 0;
	font: 14px 'Segoe UI Light';
}

div.del-info div.rate div.content2 h4 {
	text-align: center;
	font: 18px 'Segoe UI Light';
	margin: 10px 0 0 0;
}

div.del-info div.rate img {
	position: relative;
}

div.del-info div.rate h4 {
	font: 12pt 'Segoe UI Light';
}