@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

@font-face {
	font-family: Rubl;
	src: url("/fonts/rouble.ttf");
}

div.categories {
	padding: 0 50px 0 10px;
}

div.category {
	display: flex;
	font: 14pt'Segoe UI Light';
	margin-bottom: 5px;
	padding: 3px 0 0 20px;
	height: 30px;
	border-radius: 5px;
	background: #f8fafc;
	cursor: pointer;
	border: 1px solid #ebf0f5;
	justify-content: space-between;
}

div.category:HOVER {
	background: #ebf0f5;
}

div.category img {
	float: right;
	height: 20px;
	align-self: center;
	margin-right: 10px;
	opacity: 0.3;
}

div.exact {
	width: 100%;
}

table.rubtable {
	border-spacing: 0;
	margin: 10px 0;
	text-align: center;
	overflow: hidden;
}

table.rubtable td {
	width: 170px;
}

table.rubtable img {
	max-height: 120px;
	max-width: 80%;
	margin: 10px 0 0 0;
}

table.rubtable td h3 {
	margin: 5px 5px;
	min-width: inherit;
	font: 10pt 'Segoe UI Light';
	font-weight: bold;
	margin: 5px 0 2px 0;
}

table.rubtable td h3.comments {
	color: #aaa;
	font-weight: normal;
	margin: 0;
}

span.price {
	position: relative;
	font: 15pt 'Segoe UI Light';
	font-weight: bold;
}

span.price:AFTER {
	font-weight: normal;
	font-family: 'Rubl';
	content: "\0070";
}

div.rating img {
	height: 10pt;
	margin: 0;
}

div.ors {
	margin: -31px 0 0 -202px;
}

div.orsbutdiv {
	display: inline-block;
}

div.orsbutdiv button.orscontrol {
	background: white;
	margin: 0;
	border: 1px solid #ebf0f5;
	cursor: pointer;
	outline: none;
	font: 10pt 'Segoe UI Light';
	padding-bottom: 3px;
	float: left;
}

div.orsbutdiv button.orscbl {
	border-radius: 5px 0 0 5px;
	background: #f8fafc;
}

div.orsbutdiv button.orscbr {
	border-radius: 0 5px 5px 0;
	margin-left: -1px;
}

div.ors table.orstable {
	font: 10pt 'Segoe UI Light';
	border-spacing: 0;
	border-top: 1px solid #ebf0f5;
	margin: 10px 0;
	overflow: hidden;
	width: 100%;
}

div.ors table.orstable td {
	text-align: center;
	width: 170px;
	height: 27px;
}

div.ors table.orstable td:FIRST-CHILD {
	text-align: left;
	width: 200px;
}

div.ors table.orstable td:LAST-CHILD {
	text-align: left;
	width: auto;
}

div.ors table.orstable tr:nth-of-type(even) {
	background: #fafafa;
}