@CHARSET "UTF-8";

body {
	margin: 0 5%; 
	padding: 0;
	width: 90%;
	font-family: 'Segoe UI Light';
	display: block;
    box-shadow: 0 0 20px rgb(0, 100, 255);
}

div.left, div.right {	
	position: fixed;
	height: 100%;
	background: rgb(0, 100, 255);
	width: 5%;
	opacity: 0.2;
}

div.left {
	left: 0;
}

div.right {
	right: 0;
}

div.top, div.we ul li {
	display: inline-block;
}

div.top {
	width: 100%;
	border-bottom: 1px solid rgb(200, 230, 255);
}

div.ksb {
	margin: 0 -5px 0 5px;
}

div.ksb, div.we {
	float: left;
}

div.we {
	width: 100%;
	margin: 0 0 0 -100px;
	text-align: center;
}

div.we div.name {
	font-size: 30pt;
}

div.we ul {
	margin: 0px 0 0 0;
}

div.we ul li {
	margin: 0 0 0 30px;
}