@CHARSET "UTF-8";

@font-face {
	font-family: Segoe UI Light;
	src: url("/fonts/segoeuil.ttf");
}

div.mainprof {
	margin: 20px 0 0 0;
	display: flex;
}

div.page {
	width: 100%;
}

div.catlist {
	width: 180px !important;
}